<html>
    <head>
        <title>dashdb is coming</title>
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="text-center">
            <h3>{{ .title }}</h3>
        </div>
        <div class="container">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    {{range .tables}}
                    <li><a href="/tabledata?name={{.}}">{{.}}</a>
                    {{end}}
                </ul>
            </div>
            <div class="col-md-9">
                <h4>New {{.tablename}}</h4>

                <a href="/addnewdata?name={{.tablename}}" class="btn btn-primary">Add New</a>

                <table class="table">
                    <thead>
                        <tr>
                            {{range .cols}}
                            <th>{{.Name}}</th>
                            {{end}}
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{$tablename := .tablename}}
                        {{range .datas}}
                        <tr>
                            {{$id := .Id}}
                            {{range .S}}
                            <td>{{.}}</td>
                            {{end}}
                            <td><a href="/editdata?name={{$tablename}}&id={{$id}}" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td><a href="/deletedata?name={{$tablename}}&id={{$id}}" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript" src="/scripts/vue.js"></script>
    </body>
</html>